body {
  font-family: verdana;
  margin:0;
  background-color: aliceblue;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}
